body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf6ec;
  color: #333;
}

header {
  background-color: #ff914d;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.place img, .hotel img {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  margin-top: 10px;
}

.place h2, .activity h2, .hotel h2 {
  color: #ff5722;
}

.activity ul {
  list-style-type: square;
  padding-left: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  img {
    width: 100%;
  }
}
